





MONGO_URI=mongodb://localhost:27017/atmosphereAI


OPENWEATHER_API_KEY=your_openweather_key_here


YOUTUBE_API_KEY=your_youtube_key_here


GOOGLE_MAPS_KEY=your_google_maps_key_here


GEMINI_API_KEY=your_gemini_key_here


PORT=5000
